<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- ABOVE: Line 5 enables us to use Awesome Font icons -->
</head>
<div id="sidebar-avail">
 <i class="fa fa-circle"></i> fa-circle
</div>
