<div id="sidebar-avail">
<h3> Available to Pair </h3>
<%   @avail_users.map do |user| %>
   <p><i class="fa fa-circle"></i> <%=  user.name %></p>
 <% end %>
</div>


<div id="logo">
<i class="fa fa-comments-o"></i> DBC Connect
</div>
