<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- ABOVE: Line 5 enables us to use Awesome Font icons -->
</head>
<div id="sidebar-avail">
<h3> Available to Pair </h3>
<%   @avail_users.map do |user| %>
   <p><i class="fa fa-circle"></i> <%=  user.name %></p>
 <!--<i class="fa fa-circle"></i> fa-circle-->
 <% end %>
</div>
