<form action="users/results" method="post" id="searchbar">
<input type="search" id="search-input" name="pgsearch" placeholder="Search for anything">
  <button id="submit-search" class="pure-button">Search</button>
</form>