<form action="users/results" method="post" id="searchbar">
<input type="search" id="search-input" name="pgsearch" placeholder="Search for DBC Students">
  <input type="submit" id="submit-search">
</form>