<div class="splash-container">
    <div class="splash">
    <p>"Make beautiful and meaningful things"</p>
        <h1 class="splash-head"><i class="fa fa-comment"></i>&nbsp;DBC&nbsp;Connect</h1>
        <a href="/auth/linkedin"><%= image_tag("linkedInLogin.png", id: "linkedin_login") %></a>
        <p><%= flash[:notice] %></p>
    </div>
</div>


