<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head"><i class="fa fa-comments-o"></i>&nbsp;DBC&nbsp;Connect</h1>
        <a href="/auth/linkedin"><%= image_tag("linkedInLogin.png", id: "linkedin_login") %></a>
    <p id="login-quote">"Make beautiful and meaningful things"</p>
        <p id="flash-notice"><%= flash[:notice] %></p>
    </div>
</div>


