<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">DBC Connect</h1>
        <p class="splash-subhead">
            linked in login link
        </p>
        <p>
            <a href="/auth/linkedin"><%= image_tag("LinkedIn-Logo.jpg", id: "linkedin_login") %></a>
        </p>
    </div>
</div>