<%= javascript_include_tag "application"%>

<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href=""><span>a</span></a>
      <ul id="top_navbar">
          <li id="availability"><a href="#"><span class="inactive"><i class="fa fa-user"></i><i class="fa fa-user"></i></span></a></li>
          <li class="pure-menu-selected"><a id="logged_user" href="#"></a></li>
          <li id="googlelink"></li>
          <li ><a href="#">Logout</a></li>
      </ul>
  </div>
</div>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <i class="fa fa-bars fa-2x"></i>
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
          <a id="logo" class="logo pure-menu-heading" href="#"><i class="fa fa-comment"></i>DBC Connect</a>

            <ul id="activeUsersList">
                <!-- <li class="menu-item-divided pure-menu-selected"> -->
            </ul>
        </div>
    </div>

    <div data-role="popup" id="popupBasic">
      <!-- this is the hangout chat popup that will show when a user is clicked -->
      <div id="placeholder-div1"></div>
    </div>

    <div id="main">
        <div class="content">
        </div>
    </div>
</div>

<div id="map">
</div>