<li id="{{id}}">
  <a href="#pop-up" rel="modal:open">
    {{#if active}}
      <i class="fa fa-circle active">
        {{else}}
      <i class="fa fa-circle">
    {{/if}}
    </i>
    {{name}}
  </a>
</li>
