/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet
 *= require pure
 *= require main-grid
 *= require marketing
 *= require dbc-connect
 *= require_tree .
 *= require font-awesome
 *= require jquery.ui.all
 *= require jquery.modal
 */
.inactive {
  color: #e74c3c;
}

.active {
  color: #2ecc71;
}

.fa-circle {
  color: #2ecc71;
}

#placeholder-div1 {
  z-index: 1;
}
