#main {
  min-height: 920px;
}

div#menu {
  width: 167px;
}

#map {
  position:absolute;
  top:0;
  left: 0;
  bottom:0;
  width: 100%;
  margin-left:10%;
}


.user-popup {
  height: 80px;
  width: 200px;
}

.user-popup a:hover {
  color: rgba(110, 204, 57, 0.6);
}

/*.user-popup a:hover, .inactive:hover {
  color: rgba(110, 204, 57, 0.6);
}
*/
ul.social-media {
  padding-left: 0px;
}

li.social-link {
  list-style: none;
  display: inline;
  padding-right: 10px;
}

a.user-link {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #3F3C3C;
}

i.fa.fa-bars.fa-2x {
  color: white;
  margin: 0;
  padding: 0;
}

.leaflet-control-zoom {
  position: fixed;
  right: 20px;
  top: 58px;

}

.close-pop-up {
  color: #3F3C3C;
  position: absolute;
  top: 0px;
  right: 5px;
}

a#ghost {
  display: none;
}

html .fa-chevron-right:before {
  position: absolute;
  color: white;
  right: 1px;
  top: 8px;
}

html .fa-chevron-left:before {
  position: absolute;
  color: white;
  right: 17px;
  top: 28px;
}

.splash-container {
  height: 100%;
  /*background-image:url("CityStreet_476.jpg");*/
  background-image:url("city_skyline_skyscrapers5912_290.jpg");
  /*background-image:url("NYC_from_above.jpg");*/
  background-repeat:no-repeat;
  background-size: cover;
}

h1.splash-head {
   color: white;
   font-size: 250%;
   text-shadow: 2px 1px black;
   border: 4px solid white;
   box-shadow: 1px 1px 1px 1px black;
   margin-bottom: 18px;
   margin-top: 12px;
   padding-right: 10px;
   padding-left: 10px;
   font-weight: 700;
   background-color: #fff;
   background-color: rgba(255,255,255,0.2);
}

img#linkedin_login{
  height: 36px;
  border: 0px solid black;
  padding: 1px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 1px black;
}

html div.splash p#flash-notice {
  color: red;
  text-shadow: 1px 1px 0px black;
  background-color: rgba(255,255,255,0.4);
  font-size: 125%;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 400;
  }

html div.splash p#login-quote {
  font-size: 140%;
  color: white;
  font-style: italic;
  margin: 0;
  border: 0;
  text-transform: lowercase;
  text-shadow: 1px 1px black;
}

html div.splash p:first-letter {
    text-transform: uppercase;
}

html a#logo {
  background-color: red;
  height: 53px;
  position: relative;
  margin: 0;
  padding: 0;
}

#logo-only {
  background-color: red;
  height: 53px;
  position: relative;
  top: 10px;
  left: 150px;
  margin: 0;
  padding: 0;
  z-index: +10;
}

#map {
  margin: 0px;
  float: left;
  padding: 0px;
  z-index: -10;
  height: 92.5%;
}

div#menu {
  overflow:visible
}

ul#top_navbar {
  float: right;
}

/*#profile {
  color: black;
  background-color: white;
  position: relative;
  float: left;
  top: -60px;
  left: 167px;
}*/

#user-profile {
  /*background-color: grey;*/
}

#user-profile p {
  padding-left: 10px;
}

#user-profile h1 {
  padding-left: 10px;
}

.edit-profile-link  {
  padding-left: 10px;
}


#container {
  color: black;
  /*background-color: white;*/
  position: relative;
  float: left;
  left: 167px;
  width: 600px;
  /*padding-bottom: 20px;*/
  /*background-color: #fff;*/
  background-color: rgba(255,255,255,0.75);
}

#footer {
  color: grey;
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
  position: absolute;
  bottom: 12px;
  left: 167px;
  width: 400px;
  font-size: 1em;
  white-space: nowrap;
  z-index: +10;
}

#searchbarresults h2 {
  padding-left: 10px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.75);
}

td {
  padding-left: 10px;
}