#main {
  min-height: 920px;
}

div#menu {
  width: 167px;
}

#map {
  position:absolute;
  top:0;
  left: 0;
  bottom:0;
  width: 100%;
  margin-left:10%;
}

#searchbarresults {
  padding-left: 18%;
  padding-top: 3%;
}

.splash-container {
  height: 100%;
}

a#logo {
  height: 53px;
}

.user-popup {
  height: 60px;
  width: 200px;
}

.user-popup a:hover, .fa:hover {
  color: rgba(110, 204, 57, 0.6);
}

.user-popup a:hover, .inactive:hover {
  color: rgba(110, 204, 57, 0.6);
}

ul.social-media {
  padding-left: 0px;
}

li.social-link {
  list-style: none;
  display: inline;
  padding-right: 10px;
}

a.user-link {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #3F3C3C;
}

#map {
  margin: 0px;
  float: left;
  padding: 0px;
}

i.fa.fa-bars.fa-2x {
  color: white;
  margin: 0;
  padding: 0;
}

.leaflet-control-zoom {
  position: fixed;
  right: 20px;
  top: 58px;

}


