div#sidebar-avail p {
  font-size: 14px;
}

div#sidebar-avail h3 {
  font-style: italic;
}

.fa-circle {
  color: #85CE9D;
}

@import url(http://weloveiconfonts.com/api/?family=iconicfill);

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

div#logo {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 48px;
}
