<!DOCTYPE html>
<html>
<head>
  <title>DBCconnect</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
  <script src="https://apis.google.com/js/platform.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
